/* Styling form and resume sections */

body {
    font-family: 'Times New Roman', Times, serif;
    margin: 20px;
    padding: 0;
    background-color: rgb(250, 250, 250);
}

form {
    margin: auto;
    background-color: rgb(139, 97, 194);
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(97, 33, 118, 0.988);
    padding: 20px;
    max-width: 600px;
}

h1 {
    text-align: center;
    color: rgb(27, 24, 24);
}

fieldset {
    border: 2px solid rgb(241, 241, 204);
    border-radius: 8px;
    padding: 20px;
    margin-bottom: 20px;
    background-color: rgb(235, 201, 243);
}

legend {
    font-weight: bold;
    text-align: left;
    color: rgb(24, 23, 24);
    
}

label {
    display: block;
    margin-top: 10px;
    color: rgb(28, 27, 26);

}

input,textarea {
    margin-top: 4px;
    padding: 8px;
    width: calc(100% - 1px);
    border: 1px solid rgb(156, 97, 173);
    border-radius: 4px;
    box-sizing: border-box;
}

button {
    display: block;
    width: 100%;
    background-color: rgb(228, 236, 233);
    color: black;
    border: none;
    border-radius: 4px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    margin-top: 10px;
    font-size: 18px;
    font-family: 'Times New Roman', Times, serif;
    padding: 10px;
    cursor: pointer;
}

button :hover {
     color: rgb(64, 12, 102); 

}

#resume-display {
    max-width: 600px;
    margin: auto;
    padding: 20px;
    border: 2px solid rgb(230, 195, 244);
    border-radius: 8px;
    background-color: rgb(231, 210, 247);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    /*for making the resume editable*/
    outline: none;
}

#resume-display h2 {
    color: black;
}